h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm run 05-start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 Popis cvičení
p.
  V tomto cvičení budeme tvořit formulář pro úpravu informací o uživateli, stejný úkol budeme zpracovávat dvakrát a vyzkoušíme tak šablonové i reaktivní formuláře.

h3 1 - Šablonové formuláře

p.
  Aplikace nyní zobrazuje pouze šablonový formulář, nachází se v šabloně
snippet
  em template-based/user-template-based-form/user-template-based-form.component.html

p.
  Postupně napojíme všechny prvky modelu, přidáme podporu validací a obsloužíme odeslání formuláře a propagaci dat.
p.
  Nejprve musíme přidat podporu formulářů

ul.task
  li v #[em template-based/template-based.module.ts] importujte modul šablonových formulářů

hint Jedná se o modul #[strong FormsModule]

solution
  :highlight-ts
    @NgModule({
      imports: [
        CommonModule,
        SharedModule,
        FormsModule
      ],

      ...
    })

h4 1.1 - Napojení modelu a pojmenování

p.
  Když máme importován modul formulářů, můžeme využít direktivu #[strong ngModel] pro napojení modelu

ul.task
  li doplňte k prvnímu input prvku #[strong ngModel] a navažte jej na #[strong user.name]
  li poté si všimněte, že v konzoli je chyba
    ul
      li pole musí být při použití ngModel pojmenované
  li pojmenujte jej #[strong name]

hint Direktiva se používá pomocí zápisu #[em banana box] - [(ngModel)]="model"

solution
  :highlight-html
    <input class="input" id="userName" type="text"
           required
           [(ngModel)]="user.name" name="name" />

ul
  li nyní již všechna pole zobrazují hodnoty modelu
  li aktuálně vidíme, že se změny formuláře propisují rovnou i do komponenty s informacemi, to je prozatím v pořádku, později se podíváme, jak to udělat jinak

h4 1.2 - napojte model dalších prvků

p.
  Další prvky jsou již pojmenované, zbývá je tedy jen napojit tak, jako jste to udělali v předchozím případě.

ul.task
  li doplňte ngModel na všechny další prvky
  li zkontrolujte, že je formulář již naplněný daty modelu

h4 1.3 - pojmenujte instanci modelu

p.
  Nyní se podíváme na validace, u šablonových formulářů se stav validace získává z instance #[strong ngModel] připojené na editačním prvku, nejprve ji musíme získat

ul
  li u prvku jména přiřaďte v šabloně instanci #[strong ngModel] do šablonové proměnné #[strong userNameControl]

solution
  :highlight-html
    <input class="input" id="userName" type="text"
           required
           [(ngModel)]="user.name" name="name"
           #userNameControl="ngModel" />

h4 1.3.1 - použijte ladící pomůcku

p.
  Pro vizualizaci stavové informace jsme připravili pomůcku

ul
  li jedná se o komponentu AppFormMetadataViewerComponent, které předáte vlastnost control
  snippet
    :highlight-html
      <app-form-metadata-viewer [control]="userNameControl"></app-form-metadata-viewer>

ul.task
  li odkomentujte ladící pomůcku a podívejte se, jak se stav pole projevuje v datech
  li pokuste se změnit hodnotu, odejít z pole a zcela jej vyprázdnit
  li všímejte si, jak se mění položky #[strong errors], #[strong dirty], #[strong touched] a #[strong valid]

h4 1.4 - Pojmenujte instanci formuláře

p.
  Formulář je direktiva a z její instance je možné získat stavové informace, uložíme je do proměnné v šabloně a pomocí validační pomůcky zobrazíme.

ul.task
  li u formuláře přiřaďte v šabloně instanci #[strong ngForm] do šablonové proměnné #[strong userForm]

solution
  :highlight-html
    <form novalidate #userForm="ngForm">

h4 1.4.1 - odkomentujte ladící pomůcku

ul.task
  li pod formulářem odkomentujte připravenou ladící pomůcku

snippet
  :highlight-html
    <app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>
ul
  li všimněte si stavových informací a jak jsou do formuláře přidány pole v sekci values

h4 1.4.2 - vytvořte formulářovou skupinu

p.
  Pole #[strong phone] je ve formuláři přiřazeno přímo do objektu values.
  Měly by ale patřit do samostatné skupiny, jedná se totiž o samostatný objekt.

ul.task
  li vytvořte formulářovou skupinu a pojmenujte ji #[strong contact]

hint Použijte direktivu #[strong ngModelGroup]

ul
  li Nyní už objekt values strukturou odpovídá objektu uživatele.

solution
  :highlight-html
    <div ngModelGroup="contact">

h4 1.5 - podmiňte validační hlášku

p.
  Nyní oživíme validační hlášku pro prvek se jménem, nejprve pomocí obyčejných podmínek.

ul.task
  li blok s hláškou #[strong Name is required] zobrazte, pouze pokud je přítomna vlastnost #[strong required] v objektu #[strong userNameControl.errors]
  ul
    li objekt errors nemusí být přítomný, použijte tedy v šabloně operátor safe navigation

hint Operátor safe navigation #[strong ?.] se používá za objektem, který může být nedefinovaný - #[strong undefined?.property]

ul
  li Validační hláška se nyní zobrazuje jen pokud není pole se jménem vyplněno

solution
  :highlight-html
    <span class="help is-danger"
          *ngIf="userNameControl.errors?.required">
     Name is required
    </span>

h4 1.5.1 - upravte podmínky pro zobrazení hlášky

p.
  Validační hláška reaguje na chyby, zobrazuje se ale i když uživatel s polem ještě nepracoval.
  Formulář by se měl chovat uživatelsky přívětivěji.

p Validační hláška by se v případě chyby měla zobrazovat, jen když uživatel s polem již pracoval a opustil je nebo byl odeslán formulář

ul.task
  li zobrazujte validační hlášku jen pokud uživagtel s polem již pracoval, nebo došlo k odeslání formuláře

hint Příznak, že s polem bylo pracováno - #[strong touched]. Příznak odeslání formuláře #[strong submitted].

solution
  :highlight-html
    <span class="help is-danger"
          *ngIf="userNameControl.errors?.required
                 && (userNameControl.touched || userForm.submitted)" >
      Name is required
    </span>


h4 1.5.2 - použijte komponentu pro validace

p.
  V předchozím případě jste si sáhli přímo na vlastnosti prvku a formuláře, toto je ale příliš nízkoúrovňový přístup.
  Pro další pole tak použijeme komponentu pro validace, je již připravená, stačí jí předat prvek, ze kterého si vezme vše potřebné.

snippet
  :highlight-html
    <app-form-model-errors [control]="<reference validovaného prvku>"></app-form-model-errors>

ul.task
  li u prvku příjmení přiřaďte v šabloně instanci #[strong ngModel] do šablonové proměnné #[strong userSurnameControl]
  li použijte komponentu pro validace a předejte jí #[strong userSurnameControl]

ul
  li Nyní se už hláška bude zobrazovat, jen když uživatel s polem pracoval

solution
  :highlight-html
    <input class="input" id="userSurname" type="text"
           required
           [(ngModel)]="user.surname" name="surname"
           #userSurnameControl="ngModel" />

    ...

    <app-form-model-errors [control]="userSurnameControl"></app-form-model-errors>


h4 1.5.3 - přidejte validace k poli phone

ul.task
  li pro pole #[strong phone] přidejte označení pomocí šablonové proměnné a validační hlášku

h4 1.5.4 - přidejte validaci na minimální počet znaků

p.
  Validace se v šablonových formulářích zapisují v html, mohli jste si všimnout vlastnosti required na input prvcích.

ul.task
  li přidejte u pole #[strong phone] validaci na minimální počet znaků = 9

hint Použijte vlastnost #[strong minlength]

solution
  :highlight-html
    <input class="input" id="phone" type="text"
           [(ngModel)]="user.contact.phone" name="phone"
           required minlength="9"
           #phoneControl="ngModel" />
ul.task
  li vyzkoušejte, že se validační zpráva opravdu zobrazuje

h4 1.6 - odeslání formuláře

p.
  Validace jsou připraveny, zbývá odeslat formulář, obsluha je v komponentě #[strong UserTemplateBasedFormComponent] již připravena, stačí jen na odeslání reagovat.
ul.task
  li poslouchejte na elementu formuláře událost odeslání a zavolejte metodu #[strong formSubmit] a předejte jí instanci formuláře

hint Poslouchejte událost #[strong ngSubmit]

solution
  :highlight-html
    <form novalidate
          #userForm="ngForm"
          (ngSubmit)="formSubmit(userForm)">

h4 1.6.1 - vytvořte kopii příchozího objektu

p.
  V konzoli se můžete podívat, že se data formuláře opravdu odesílají, stále ale při editaci vidíte, že se data mění i ve zobrazovací komponentě.

ul.task
  li #[em v user-template-based-form.component.ts] si všimněte vstupního parametru, který je ve skutečnosti setter
  li upravte jej, aby místo pouhého přiřazení vytvářel kopii objektu
    li k tomuto je připravena již importovaná funkce #[strong cloneUser(<user>)]

ul.task
  li Vyzkoušejte, že se změna dat propaguje až po odeslání

solution
  :highlight-ts
    @Input('user') set userFromInput (userFromInput: User) {

      this.user = cloneUser(userFromInput);
    };

.success Výborně vyzkoušeli jste si principy šablonových formulářů.

h3 2 - Reaktivní formuláře

p.
  V této části zpracujeme stejný formulář jako v předchozím případě, ale budeme jej zpracovávat pomocí reaktivních formulářů.

ul.task
  li v #[em reactive-based.module.js] importujte modul reaktivních formulářů

hint Jedná se o modul #[strong ReactiveFormsModule]

ul
  li po tomto kroku bude v konzoli vidět chyba, která nám říká, že formuláři chybí obsluha, tu nyní vytvoříme a propojíme s formulářem, poté chyba zmizí

solution
  :highlight-ts
    imports: [
      CommonModule,
      SharedModule,
      ReactiveFormsModule
    ]

h4 2.1 - Vytvořte definici formuláře

p.
  Reaktivní formuláře staví na definici formuláře, tvořit ji budeme v komponentě #[strong UserReactiveFormComponent] v
  souboru #[strong user-reactive-form-component.ts] můžete tvořit různými způsoby, my použijeme #[strong FormBuilder],
  ten už máme injektnutý.

ul.task
  li do #[strong this.userForm] přiřaďte formulářovou skupinu, bude mít následující prvky inicializované na prázdný string
    ul
      li name
      li surname
  li ve skupině přidejte prvek #[strong contact], který bude také skupinou s prvky
    ul
      li phone

hint Pro vytvoření skupiny použijte #[strong formBuilder.group({ key: initialValue, ... })]
solution
  :highlight-ts
    this.userForm = this.formBuilder.group({
      name: '',
      surname: '',
      contact: this.formBuilder.group({
        phone: ''
      })
    });

h4 2.2 - propojení formuláře s definicí

p.
  Definice formuláře je přiřazena do vlastnosti #[strong userForm], zbývá nám připojit na něj šablonu.
  Jedná se o šablonu #[em user-reactive-form.component.ts].

ul.task
  li odkomentujte reaktivní formulář v #[em app.component.html]

h4 2.2.1 - propojte formulář s definicí

ul.task
  li propojte v šabloně formulář s definicí

hint Použijte direktivu #[strong formGroup] a předejte jí objekt s definicí formuláře

ul
  li v tuto chvíli zmizí z konzole chyba

solution
  :highlight-html
    <form novalidate
          (ngSubmit)="onSubmit(userForm)"
          [formGroup]="userForm">

h4 2.2.2 - přidejte skupinu contact

p.
  V definici jsme vytvořili skupinu také pro kontakt, propojíme ji taky s šablonou

ul.task
  li divu s adresou přiřaďte skupinu nikoli objektem, ale podle názvu #[strong contact]

hint Použijte direktivu #[strong formGroupName="název"]

solution
  :highlight-html
    <div formGroupName="contact">

h4 2.2.3 - propojte jednotlivé prvky s objektem formuláře

p.
  Formulář máme propojený, zbývá propojit jednotlivé prvky

ul.task
  li jednotlivé prvky propojte pomocí názvu, se kterým jsou vytvořeny
    ul
      li name, surname, phone

hint Použijte direktivu #[strong formControlName="název"]

h4 2.2.4 - odkomentujte ladící pomůcku

ul.task
  li odkomentujte pod formulářem ladící pomůcku a prohlédněte si vlastnosti formuláře

h4 2.3 - Předejte data do formuláře

p.
  Formulář je připraven, nemá však žádná iniciální data, ta do něj musíme nejdříve poslat.
  To provedeme v #[strong user-reactive-form.component.ts].
  Máme k dispozici dvě metody #[strong setValue] a #[strong patchValue]. Vyzkoušíme obě abychom si ukázali rozdíl.

ul
  li #[strong setValue] umožní nastavit jen objekt, který přesně koresponduje s definicí
  li.task zavolejte na vytvořené definici formuláře metodu #[strong setValue] a předejte jí vlastnost #[strong user]
  ul.task podívejte se na chybu do konzole

solution
  :highlight-ts
    this.userForm.setValue(this.user);

ul
  li #[strong patchValue] nastaví jen ty vlastnosti, které korespondují s definicí, ostatní jsou ignorovány.
  li.task zavolejte na vytvořené definici formuláře metodu #[strong patchValue] a předejte jí vlastnost #[strong user]

solution
  :highlight-ts
    this.userForm.patchValue(this.user);

ul
  li formulář má nyní již iniciální data, vzniká samostatný objekt, změna dat je tím oddělena od zobrazovací komponenty
  li odeslání formuláře už je také implementováno

ul.task
  li prohlédněte si, co je přítomno v zobrazovací komponentě, všimněte si twitterového účtu.
  li uložte formulář a všimněte si, že všechna pole, která nebyla ve formuláři definována, zmizela
    ul
      li to je správně, definice formuláře určuje vlastnosti objektu, který edituje

h4 2.4 - Definice validací

p.
  U reaktivních formulářů se validace definují spolu s objektem formuláře, místo iniciální hodnoty vlastnosti formuláře
  může být předáno pole, kde první parametr je iniciální vlastnost a druhý je pole validátorů.

ul
  li využijeme vestavěných validátorů z objektu #[strong Validators]

ul.task
  li přidejte validátor #[strong Validators.required] k polím
    ul
      li #[strong name], #[strong surname] a #[strong phone] v kontaktu
  li přidejte validátor #[strong Validators.minLength(9)] k poli #[strong phone]

solution
  :highlight-ts
    this.userForm = this.formBuilder.group({
      name: ['', Validators.required],
      surname: ['', Validators.required],
      contact: this.formBuilder.group({
        phone: ['', [Validators.required, Validators.minLength(9)]]
      })
    });

h4 2.4.1 - odkomentujte zobrazení validačních hlášek

p.
  Validační hlášky jsou v šabloně nachystány, stačí je jen odkomentovat

ul.task
  li odkomentujte v šabloně #[em user-reactive-form.component.html] validační hlášky

ul.task
  li ověřte, že se validační hlášky zobrazují

h4 2.5 - sledujte změny dat ve formuláři

p.
  Reaktivní formuláře nám umožňují reagovat na změny hodnot a vlastností prvků, ty jsou totiž Observables.

ul
  li vyzkoušíme si poslech události změny na celém formuláři
    ul
      li objekt formuláře má vlastnost #[strong valueChanges]
  li.
    v #[em user-reactive-form.component.ts] na vlastnosti #[strong valueChanges] vytvořené definice formuláře registrujte
    obsluhu události a předaná data (#[strong values]) zobrazte v konzoli

hint Observables mají metodu #[strong subscribe] pro registraci obsluhy

ul.task
  li podívejte se, že se změny dat ve formuláři logují do konzole.

solution
  :highlight-ts
    this.userForm.valueChanges.subscribe((values) => {
      console.log('valueChanges', values)
    });

.success Výborně vyzkoušeli jste si principy reaktivních formulářů.
