h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm run 07-start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 Popis cvičení

p.
  V tomto cvičení si vyzkoušíte routing, budeme rozvíjet předchozí příklad a budeme přecházet mezi chatovacími místnostmi.
  Setkáte se s oddělením route ve feature modulech, vyzkoušíte zanořené routy, použití guardů a observable parametry.

h3 1 - Router outlet

p.
  Aplikace zobrazuje na levé straně menu, na pravé vidíme text z komponenty #[strong HomeComponent].

h4 1.1 - vyměňte komponentu za router outlet

p.
  Podívejte se do #[em app-component.html], komponenta je zde použitá přímo, zde ale chceme zobrazovat aktuální routu.

ul.task
  li v #[em app.component.html] použijte outlet pro zobrazení aktuální routy

hint Jedná se o direktivu #[strong router-outlet]
solution
  :highlight-ts
    <router-outlet></router-outlet>

h4 1.2 - přidejte závislost na routing modulu

ul.task
  li Prohlédněte si nastavení route v #[em app-routing.module.ts] a importujte tento modul v #[em app.module.ts]

solution
  :highlight-ts
    imports: [
      BrowserModule,
      FormsModule,
      HttpModule,
      ChatModule,

      AppRoutingModule
    ]

ul
  li.task ověřte, že aplikace stále zobrazuje úvodní informace z #[strong HomeComponent]
  li zobrazení už zajišťuje router, což se promítlo změnou url na /home

h3 2 - Definice rout

p.
  V tomto kroku oživíme routy ve feature modulu #[em chat/chat-routing.module.ts] a začleníme je do aplikace

ul
  li.
    tento modul bude vytvářet routu pro komponentu #[strong ChatComponent],
    ta bude poskytovat menu a bude obsahovat zanořené routy pro seznam a detail

h4 2.1 - přidejte routu pro chat

p.
  Proměnná #[strong routes] bude obsahovat routy tohoto modulu.

ul.task
  li Přidejte routu pro cestu #[strong chat], na ní zobrazte komponentu #[strong ChatComponent]

solution
  :highlight-ts
    const routes: Routes = [
      { path: 'chat', component: ChatComponent }
    ];

h4 2.2 - importujte routy

p.
  Zbývá vytvořit z proměnné #[strong routes] modul a ten importovat

ul.task
  li importujte routy feature modulu

hint Použijte statickou metodu #[strong forChild] třídy #[strong RouterModule]

solution
  :highlight-ts
    imports: [RouterModule.forChild(routes)],

ul.task
  li v aplikaci nyní můžete přejít na záložku chat
  li pozorujte změnu url
    ul
      li uvidíte zanořené menu, prostor pod ním následně vyplníme.

h4 2.3 - přidejte zanořený outlet

p.
  Prohlédněte si šablonu komponenty #[strong ChatComponent] - #[em chat/chat.component.html],
  obsahuje menu (zatím nefunkční), pro výběr zanořené routy a pod ním chceme tuto zobrazovat.

ul.task
  li v šabloně přidejte další outlet pro router

hint Jedná se o direktivu #[strong router-outlet]
solution
  :highlight-ts
    <router-outlet></router-outlet>

h4 2.4 - doplňte routu roooms

p.
  Postupně oživíme routy pro výpis chatovacích místností a výpis zpráv. Tyto budou zanořené pod právě vytvořenou routou na url #[strong chat]
  Nejprve oživíme routu pro seznam.

ul.task
  li v #[em chat-routing.module.ts] přidejte kolekci pro zanořené routy
  li přidejte zanořenou routu, která na url #[strong chat] zobrazí komponentu #[strong RoomsComponent]
    ul
      li uvědomte si zde, že se url zanořených route skládá

hint
  | Zanořené routy jsou kolekce ve vlastnosti #[strong children].
  br
  | Cesty v definici route se skládají, tedy pokud má být zanořená routa zobrazena na url rodiče, bude vlastnost path prázdným řetězcem.

solution
  :highlight-ts
    const routes: Routes = [
      { path: 'chat', component: ChatComponent,
        children: [
          {path: '', component: RoomsComponent}
        ]
      }
    ];

ul.task
  li Zkontrolujte, že se seznam místností zobrazuje
    ul
      li odkazy v seznamu už vedou na detail místností, všimněte si jeho url, tuto routu nyní oživíme

h4 2.5 - přidejte routu pro detail

p.
  Pro zobrazení detailu chatovací místnosti slouží komponenta #[strong ChatDetailComponent]

ul.task
  li přidejte routu na úroveň předchozí, pro komponentu #[strong ChatDetailComponent]
  li šablona url zanořené routy bude #[strong room/<id_místnosti>], identifikátor označte jako parametr #[strong id]

hint Parametry v šabloně url se značí dvojtečkou - /path/#[strong :proměnná]
solution
  :highlight-ts
    const routes: Routes = [
      { path: 'chat', component: ChatComponent,
        children: [
          {path: '', component: RoomsComponent},
          {path: 'room/:id', component: ChatDetailComponent}
        ]
      }
    ];

ul.task
  li nyní už dokážete ze seznamu přejít na detail
   ul
     li komponenta načítá staticky první místnost, načítání skutečných dat oživíme v dalším kroku.

h4 2.6 - načtěte id ze snapshotu parametrů

p.
  Prohlédněte si zdrojový kód komponenty #[strong ChatDetailComponent] - #[em chat-detail.component.ts]

ul
  li všimněte si, že načítání dat je realizováno stejně jako v předchozím příkladu, jen se k tomu používá vlastnost #[strong chatRoomId]
  li tato vlastnost je v construktoru nastavena natvrdo na 1

ul.task
  li načtěte hodnotu z parametru #[strong id], použijte k tomu snapshot routy
    ul
      li služba je již injektnuta - #[strong ActivatedRoute]
  li nezapomeňte hodnotu parametr převést na číslo

hint.
  | Snapshot je v routě přítomen jako vlastnost #[strong snapshot].
  br
  | Parametry jsou uloženy ve vlastnosti #[strong params].
  br
  | Pro převod na číslo můžete použít funkci #[strong parseInt].

solution
  :highlight-ts
    this.chatRoomId = parseInt(this.route.snapshot.params['id']);

ul.task
  li vyzkoušejte nyní přejít ze seznamu na detail a poté zpět pomocí tlačítka prohlížeče
  li ověřte, že se při tomto postupu detail správně načítá
    ul
      li horní menu oživíme v dalším kroku

h4 2.6 - vytvořte odkazy

p.
  V šabloně #[em chat/chat.component.html] nyní oživíme odkazy

ul
  li první povede na seznam místností, bude dán staticky
  li další zobrazovaný v cyklu povede na příslušný detail
  li url použijte relativní, nacházíte se v zanořené routě na url #[strong /chat]

ul.task
  li oživte odkaz seznamu pomocí příslušné direktivy, url napište jako statické
  li oživte odkaz detailu, url skládejte z cesty a hodnoty vlastnosti #[strong room.id]

hint Jedná se o direktivu #[strong routerLink], ta přijímá string, případně pole částí url.
solution
  :highlight-ts
    <a routerLink=".">Rooms</a>

    ...

    <a [routerLink]="['room', room.id]">{{room.title}}</a>

p.
  Vyzkoušejte přechod mezi různými detaily s mezikrokem přes seznam

ul.task
  li přejděte na seznam, poté pomocí horního odkazu na detail
  li zpátky na seznam a poté na jiný detail
  li přepínání očividně funguje

p.
  Děj následujícího scénáře už tak očividný nebude

ul.task
  li přejděte ze seznamu na detail a poté přepínejte horním menu přímo mezi detaily
  li url v adresním řádku se mění, ale obsah komponenty #[strong ChatDetailComponent] zůstává stejný
  li zkuste se zamyslet co se děje a opravíme to v dalším kroku

h3 3 - Parametry routy

p.
  Routování funguje v pořádku, pokud se ale změní pouze parametry routy, nedojde k překreslení komponenty a volání konstruktoru či metody #[strong ngOnInit],
  proto se nezmění ani vlastnost #[strong chatRoomId], podle které se obsah načítá.

h4 3.1 - reagujte na změnu parametrů

p.
  Služba #[strong ActivatedRoute] poskytuje nejen statický snapshot, ale také všechny vlastnosti ve formě observable,
  tohoto tedy využijeme a upravíme získávání v souboru #[em chat-detail.component.ts].

ul.task
  li změňte načítání ze snapshotu na poslechu změny vlastnosti #[strong params]
  li nezapomeňte převádět hodnotu na číslo
  li v obsluze přiřaďte hodnotu parametru #[strong id] do vlastnosti #[strong chatRoomId]
  li toto ideálně provádějte jen pokud se hodnota parametru změní

hint Vlastnost #[strong params] routy je observable, můžete použít operátory #[strong map] a #[strong distinctUntilChanged]. K odběru se přihlásíte pomocí #[strong subscribe].

solution
  :highlight-ts
    this.route.params
      .map((params: {id: string}) => parseInt(params.id))
      .distinctUntilChanged()
      .subscribe(id => this.chatRoomId = id);

ul.task
  li při přepínání mezi místnostmi pomocí horního menu už bude docházet k načítání správného detailu
  li všimněte si ale prodlevy načtení a zamyslete se, čím je toto způsobeno

h4 3.2 - vytvořte stream změny parametrů

p.
  Na vině zdánlivě opožděné reakce je skutečnost, že je načítání dat iniciováno intervalem, případně odesláním zprávy,
  toto by se mělo dít i na základě změny parametru.

ul.task
  li místo v obsluze změny parametrů provádějte změnu vlastnosti #[strong chatRoomId] jen jako postranní efekt
  li stream přiřaďte do existující vlastnosti #[strong routeParams$]

hint Operátor, pro vykonání postranního efektu je #[strong .do]

solution
  :highlight-ts
    this.routeParams$ = this.route.params
      .map((params : {id: string}) => parseInt(params.id))
      .distinctUntilChanged()
      .do(id => this.chatRoomId = id);

h4 3.3 - připojte stream změny parametrů

ul.task
  li přidejte stream #[strong routeParams$] mezi streamy iniciující načtení dat

hint Přidejte stream mezi ty spojované metodou #[strong merge]
solution
  :highlight-ts
    ngOnInit(): void {

      Observable.merge(Observable.interval(4000),
        this.myMessagesStream$,
        this.routeParams$
      )
        .startWith(null)
        .flatMap(() => this.chatService.getRoomById(this.chatRoomId))
        .do(() => console.log('chatReloaded'))
        .subscribe((chatRoom) => this.chatRoom = chatRoom);
    }

ul.task
  li Vyzkoušejte, že přechod mezi detaily nyní ihned iniciuje načtení dat chatovací místnosti

h3 3 - Guard

p.
  V některých případech nedává zobrazení komponenty smysl, dokud nedošlo k načtení dat.
  Za tento případ je možné považovat i komponentu #[strong ChatComponent], která zobrazuje v horním menu první tři místnosti.
  K tomuto načtení je možné použít #[strong ResolveGuard].

.info Pokud zpoždění nevnímáte, zapněte v konzoli prohlížeče spomalení síťových požadavků.

h4 3.1 - implementujte resolver

p.
  Guard je služba implementující patřičné rozhraní a registrovaná v routě

ul.task
  li vytvořte v modulu chat službu #[strong RoomsResolver]
  li injektněte službu #[strong ChatService]

  li implementujte patřičné rozhraní
    ul
      li použijte generika, resolver bude získávat pole objektů #[strong Room]

  li v implementované metodě získejte místnosti voláním metody #[strong getRooms()] injektnuté služby #[strong ChatService]
  li metoda tedy bude vracet observable

hint Jedná se o rozrhaní #[strong Resolve<Type>], budete implementovat metodu #[strong resolve]

solution
  :highlight-ts
    @Injectable()
    export class RoomsResolver implements Resolve<Room[]> {
      constructor(private chatService: ChatService) { }

      resolve(route: ActivatedRouteSnapshot, state: RouterStateSnapshot): Observable<Room[]> {
        return this.chatService.getRooms();
      }
    }

h4 3.2 - přidejte resolver

p.
  Vytvořený resolver zaregistrujeme v konfiguraci routy pro komponentu #[strong RoomsComponent] v souboru #[em chat-routing.module.ts].

ul.task
  li přidejte resolve
  li nezapomeňte, že resolver je služba a musí být začleněna do DI kontejneru

hint
  | Vlastnost #[strong resolve] je objekt, kde klíč odpovídá jménu získávané závislosti a hodnota DI tokenu resolveru.
  br
  | Resolver musíte registrovat do pole #[strong providers].

solution
  :highlight-ts
    {path: '', component: RoomsComponent, resolve: {rooms : RoomsResolver}},

    ...

    providers: [RoomsResolver]

h4 3.3 - načtěte data z routy

p.
  Předchozí kroky vedli k načtení dat před přechodem na routu, zbývá je získat v #[em rooms.component.ts]

ul.task
  li místo volání #[strong ChatService] získejte data z routy
    ul
      li vlastnost #[strong data] je observable
  li abyste nemuseli měnit signaturu a obsah existujícího poslechu #[strong subscribe], použijte map a získejte z vlastnosti data načtený seznam místností

hint Vlastnost obsahující data odpovídá názvu vlastnosti v definici routy.

solution
  :highlight-ts
    export class RoomsComponent{

      rooms: Room[];

      constructor(route: ActivatedRoute) {
        route.data
          .map((data : {rooms : Room[]}) => data.rooms)
          .subscribe(rooms => this.rooms = rooms,
            error => console.log("chatService.getRooms error", error))
      }

    }


ul.task
  li vyzkoušejte, že se komponenta s menu zobrazí až ve chvíli, kdy jsou data místností načteny

.success Výborně vyzkoušeli jste si hlavní vlastnosti routeru.
