<h2 class="title">Room: {{room.room.title}}</h2>
<article class="message"
         *ngFor="let message of room.messages">
  <div class="message-body">
    <b>{{message.user}}:</b>
    {{message.text}}
  </div>
</article>
